body{
    box-sizing: border-box;
    margin: 0;
    text-transform: capitalize;
}
*{
    box-sizing: inherit;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
.main-container {
    width: 930px;
    height: 500px;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0px 0px 5px 2px rgba(0, 0, 0, 0.57);
}
.top-container {
    width: 100%;
    height: 40%;
    padding: 20px;
    margin-bottom: 0;
}
.bottom-container {
    width: 100%;
    height: 60%;
    display: flex;
    margin-top: 0;
}
.bottom-left {
    width: 50%;
    height: 100%;
    background-color: #2ec5c8;
    padding: 50px;
    color: aliceblue;
}
.bottom-right {
    width: 50%;
    height: 100%;
    background-color: #07dfe2;
    padding: 50px;
    color: aliceblue;
}
p {
    margin-top: 30px;
}
#btn {
    background-color: #55f66b;
    width: 200px;
    height: 40px;
    border-radius: 6px;
    border-style: none;
    color: aliceblue;
    margin-top: 20px;
}
#btn:hover, #btn:active {
    background-color: #bffac7;
    transform: scale(1.1);
}
#price-container {
  
    height: 1rem;
    display: flex;
    justify-content: start;
    align-items: center;
}
#price-frequency {
    
    position: relative;
    top: 2px;
    margin: 3%;
    font-size: 0.8rem;
    opacity: 0.8rem;
}
#price {
    font-size: 30px;
}
ul {
    list-style-type: none;
    font-size: 0.8rem;
    opacity: 0.8rem;
}
